[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zoran Matic (zoromatic)
[access "refs/for/refs/*"]
	read = group user/Zoran Matic (zoromatic)
	push = group user/Zoran Matic (zoromatic)
	label-Code-Review = -2..+2 group user/Zoran Matic (zoromatic)
	label-Verified = -1..+1 group user/Zoran Matic (zoromatic)
	rebase = group user/Zoran Matic (zoromatic)
	removeReviewer = group user/Zoran Matic (zoromatic)
	submit = group user/Zoran Matic (zoromatic)
[access "refs/heads/*"]
	read = group user/Zoran Matic (zoromatic)
	create = group user/Zoran Matic (zoromatic)
	push = +force group user/Zoran Matic (zoromatic)
	pushMerge = group user/Zoran Matic (zoromatic)
[access "refs/tags/*"]
	push = group user/Zoran Matic (zoromatic)
	push = +force group user/Zoran Matic (zoromatic)
